/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */


    #map {
        height: 400px;
          
      }

      .carteDeLaVille{
        bottom:0;
        height: 100%;
        margin: 0;
          margin-top: 10px;
        padding: 0;

      }


#myInput {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

.row {
    margin-top: 10px;
    margin-left: 10px;
}

.couleurEtatStation{
    text-align: center;
    float:right;
    margin-right:50px;
    background-color: darkgray;
    border-radius:10px;
    min-width: 30px;
    color:white;
    font-weight: bold;
}


.grid-divider{
        position: relative;
        padding: 20px;
        border-left: 1px solid #DDD;
}
